html.dark {
   // Text-color
   --text-color: #fff;

   // Icon-color
   --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4933%) hue-rotate(326deg) brightness(108%)
      contrast(108%);

   // body
   --body-color: #292e39;

   // Header
   --header-bg-color: #171c28;
   --header-shadow: rgba(0, 0, 0, 0.2);
   // top-act
   --top-act-group-bg-color: #292e39;
   --top-act-group-shadow: rgba(0, 0, 0, 0.2);
   --top-act-separate: #ededf6;
   //  drop-down
   --drop-down-bg-color: #2b313e;
   --drop-down-shadow: rgba(23, 28, 40, 0.4);
   --drop-down-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(8%) saturate(1735%) hue-rotate(183deg)
      brightness(92%) contrast(90%);
   --drop-down-menu-separate: #171c28;
   --drop-down-menu-column-small-icon-color: brightness(0) saturate(100%) invert(97%) sepia(18%) saturate(282%)
      hue-rotate(87deg) brightness(110%) contrast(98%);
   // side-bar
   --side-bar-bg-color: #292e39;
   --side-bar--shadow: rgba(23, 28, 40, 0.4);
   --side-bar-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(143deg)
      brightness(103%) contrast(102%);

   // cate-item
   --cate-item-bg-color: #292e39;

   // Button
   // filter-btn
   --filter-text-color: #fff;
   --filter-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7429%) hue-rotate(152deg)
      brightness(117%) contrast(114%);
   --filter-btn-bg-color: #171c28;
   // like-btn
   --like-btn-bg-color: #292e39;
   --like-btn-shadow-color: rgba(124, 124, 124, 0.2);
   --heart-icon-color: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg)
      brightness(105%) contrast(105%);

   //product-card
   --product-card-bg-color: #171c28;
   --product-card-shadow-color: rgba(0, 0, 0, 0.2);
   --title-text-color: #fff;
   --brand-text-color: #9e9da8;

   // filter
   --filter-bg-color: #292e39;
   --filter-shadow-color: rgba(0, 0, 0, 0.4);
   --filter-text-color: #fff;
   --filter-bg-slider: #d2d1d6;
   --filter-bg-circle-color: #292e39;
   --border-input-color: #d2d1d6;
   --filter-bg-tag-color: #171c28;
   --filter-tag-color: #fff;
   --filter-arrow-up: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(1533%) hue-rotate(183deg)
      brightness(98%) contrast(87%);

   // sign-up page
   --sign-up-bg-color: #171c28;
   --sp-intro-text-color: #1a162e;
   --intro-text-color:#1A162E;
   --intro-text-color:#B9BABE;
   --content-bg-color:#292E39;
   --btn-text-color:#B9BABE;
   --btn-icon-color: brightness(0) saturate(100%) invert(61%) sepia(90%) saturate(9%) hue-rotate(191deg) brightness(100%) contrast(101%); 
}
