@use '../abstracts';

html {
   // Text-color
   --text-color: #1a162e;

   // Icon-color
   --icon-color: brightness(0) saturate(100%) invert(8%) sepia(14%)
      saturate(2821%) hue-rotate(211deg) brightness(95%) contrast(96%);

   // Body
   --body-color: #F6F6F6;

   // Header
   --header-bg-color: #eeeeee;
   --header-shadow:rgba(237, 237, 246, 0.20) ;
   // mobile
   @include abstracts.breakpoints(lg) {
      --header-bg-color: #fff;
   }
   // top-act
   --top-act-group-bg-color: #fff;
   --top-act-group-shadow: rgba(237, 237, 246, 0.2);
   --top-act-separate: #ededf6;
   --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);
   // drop-down 
   --drop-down-bg-color: #fff;
   --drop-down-shadow: rgba(200, 200, 200, 0.40);
   --drop-down-menu-separate: #D2D1D6;
   --drop-down-menu-column-small-icon-color: brightness(0) saturate(100%) invert(8%) sepia(9%) saturate(5959%) hue-rotate(217deg) brightness(90%) contrast(95%);
   // side-bar
   --side-bar-bg-color: #fff;
   --side-bar--shadow: rgba(200, 200, 200, 0.40);
   --side-bar-icon-color: filter: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(6485%) hue-rotate(215deg) brightness(92%) contrast(95%);
   
   // cate-item
   --cate-item-bg-color:#FFF ;

   // Button
      // filter-btn
   --filter-text-color:#6c6c72;
   --filter-color:  brightness(0) saturate(100%) invert(7%) sepia(39%) saturate(1542%) hue-rotate(218deg) brightness(89%) contrast(95%);
   --filter-bg-color: #FFF;
       // like-btn
   --like-btn-bg-color: #FFF;
   --like-btn-shadow-color: rgba(124, 124, 124, 0.20);
   --heart-icon-color:brightness(0) saturate(100%) invert(3%) sepia(88%) saturate(2608%) hue-rotate(244deg) brightness(90%) contrast(88%);

   //product-card
   --product-card-bg-color: #fff;
   --product-card-shadow-color: rgba(237, 237, 246, 0.2);
   --title-text-color:#1A162E;
   --brand-text-color:#9E9DA8;
}
