@use "../abstracts";

//  like-btn

.like-btn {
   width: 50px;
   height: 50px;
   @include abstracts.breakpoints(lg) {
      width: 35px;
      height: 35px;
   }
   @include abstracts.breakpoints(md) {
      width: 50px;
      height: 50px;
   }
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 13px;
   background-color: var(--like-btn-bg-color);
   border-radius: 50%;
   box-shadow: 0px 20px 60px var(--like-btn-shadow-color);

   .heart-icon {
      filter: var(--heart-icon-color);
      &--red {
         filter: initial;
      }
   }

   &:not(&--liked) {
      .heart-icon--red {
         display: none;
      }
   }

   &--liked {
      .heart-icon {
         display: none;
      }
      .heart-icon--red {
         display: block;
         margin-top: 6px;
      }
   }
}

// btn

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   padding: 0 20px;
   background-color: #f8f8fb;
   height: 46px;
   font-size: 1.8rem;
   font-weight: 500;
   border-radius: 6px;
   user-select: none;

   & + .btn {
      margin-left: 20px;
   }

   &--text {
      height: 36px;
      background: transparent;
      font-size: 1.5rem;
      font-weight: 400;
      color: #9e9da8;
   }

   &--primary {
      background-color: #ffb700;
      height: 38px;
      font-size: 1.4rem;
      font-weight: 500;
      color: #1a162e;
   }

   &--outline {
      height: 50px;
      background-color: transparent;
      border: 1px solid #d2d1d6;
      font-size: 1.8rem;
      font-weight: 500;
   }

   &--rounded {
      border-radius: 99px ;
   }

   &:hover {
      opacity: 0.9;
   }
}
