@use "../abstracts";

.dropdown {
   display: none;
   position: absolute;
   left: 0;
   padding-top: 54px;
   width: min(1240px, 100%);

   @include abstracts.breakpoints(lg) {
      display: block;
      position: initial;
      padding-top: initial;
   }


   &__inner {
      position: relative;
      padding: 30px 62px 30px 30px;
      border-radius: 20px;
      height: min(582px, 100vh - 158px);
      background: var(--drop-down-bg-color);
      box-shadow: 0px 40px 90px 20px var(--drop-down-shadow);

      &::before {
         content: url(../icons/drop-down-icon.svg);
         position: absolute;
         top: -13px;
         left: var(--arrow-left-pos);
         filter: var(--drop-down-arrow-color);
      }

      @include abstracts.breakpoints(lg) {
         padding: 20px 40px;
         border-radius: initial;
         box-shadow: initial;
         background:transparent;
         height: initial;
         &::before {
            content: none;
            }
         }
      }
      
   }

   .top-menu {
      position: relative;
      height: 100%;

      overflow-y: auto;

         
      @include abstracts.breakpoints(lg) {
         overflow-y: initial;
         }

      &__main {
         --main-column-width: 292px;
         width: var(--main-column-width);
         height: 100%;
         border-right: 1px solid var(--drop-down-menu-separate);
         overflow-y: auto;

         @include abstracts.breakpoints(xl) {
            --main-column-width: 258px;
            width: 100%;
            overflow-y: initial;
            border-right:none;
         }

         & > .menu-column > .menu-column__icon,
         & > .menu-column > .menu-column__content .menu-column__heading {
            @include abstracts.breakpoints(lg) {
               display: none;
               }
          
         }

         
      }
   }

   // Common
   .menu-column {
      display: flex;
      column-gap: 14px;
      
      &__icon {
         position: relative;
         flex-shrink: 0;
         width: 36px;
         height: 36px;

         &-1-1 {
            width: 30px;
            height: 30px;
            object-fit: contain;
         }

         &-1-2 {
            width: 24px;
            height: 24px;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            translate: -20% -20%;
            filter: var(--drop-down-menu-column-small-icon-color);
         }
      }

      &__content {
         flex: 1;
      }

      &__heading {
         margin-top: 3.5px;
         font-size: 1.6rem;
         font-weight: 500;
         line-height: 150%;
      }

      &__list {
         margin-top: 19px;
         @include abstracts.breakpoints(lg) {
            margin-top: -7px;
          }
      }

      &__item {

         &:last-child a {
            padding-bottom: 0px;
         }

         &--active:hover .sub-menu{
            display: grid;
         }

         &--active > .menu-column__link {
            color: #0071dc;
            font-weight: 500;
         }
      }

      &__link {
         display: block;
         padding: 7px 0;
         font-size: 1.4rem;
         font-weight: 400;
         line-height: 135.857%;

         &:hover {
            color: #0071dc;
            font-weight: 500;
         }
      }
   }

   .sub-menu {
      position: absolute;
      inset: 0 0 0 var(--main-column-width);
      display: none;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 10px;
      overflow-y: auto;

      @include abstracts.breakpoints(lg) {
         position: initial;
         grid-template-columns: 1fr;
       }
      

      &__column {
         display: flex;
         flex-direction: column;
         gap: 30px;
      }

      &--not-main {
         position: inherit;
         inset: initial;
         display: grid;
         grid-template-columns: repeat(4,1fr);
         @include abstracts.breakpoints(lg) {
            grid-template-columns: 1fr;
          }
      }
   }

   .menu-column__item--active .sub-menu {
      display: grid;
   }

